body {
  margin: 0px
}

#resume-cont {
  display: flex;
  justify-content: space-between;
}

.section-box {
  flex: 1;
  padding: 20px;
}

#resume-builder {
  color: white;
  background-color: black;
}

#resume-preview {

}