body {
  margin: 0px;
  font-family: monospace;
}

#resume-cont {
  display: flex;
  justify-content: space-between;
}

.section-box {
  flex: 1;
  padding: 20px;
}

#resume-builder {
  color: rgb(220, 220, 220);
  background-color: #202020;
}

#resume-builder hr {
  color: rgb(220, 220, 220);;
}

#resume-builder form {
  display: table;
}

#resume-builder input {
  width: 100%;
}

#resume-preview {
  color: #202020;
  margin: 0 auto;
  padding: 20px;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

:root {
  --bleeding: 0.5cm;
  --margin: 1cm;
}

@page {
  size: A4;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.page {
  display: inline-block;
  position: relative;
  height: 297mm;
  width: 210mm;
  font-size: 12pt;
  margin: 2em auto;
  padding: calc(var(--bleeding) + var(--margin) - 25px);
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  background: white;
  font-family: "PT Serif", sans-serif; 
}


@media screen {
  .page::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
  }
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }
}

.resume-name {
  font-size: 20pt;
  font-weight: bold;
}

.resume-key-details {
  font-size: 11pt;
  display: inline-block; 
}

.multiline {
  white-space: pre-wrap;
}

label {
  font-size: 15px;
}

input[type=text] {
  background-color:#202020;
  color: rgb(220, 220, 220);
  font-family: monospace;
  border: 2px solid #a8a8a8;
  border-radius: 4px;
  margin-top: 7.5px;
}