body {
  margin: 0px;
}

#resume-cont {
  display: flex;
  justify-content: space-between;
}

.section-box {
  flex: 1;
  padding: 20px;
}

#resume-builder {
  color: rgb(220, 220, 220);
  background-color: #202020;
}

#resume-builder hr {
  color: rgb(220, 220, 220);;
}

#resume-builder form {
  display: table;
}

#resume-builder input {
  width: 100%;
}

#resume-preview {
  background-color: rgb(220, 220, 220);;
  color: #202020;
}